.Screenshots {
  height: calc(100vh - 6.4rem);
  width: 100%;

  & > img {
    display: block;
    height: 90%;
    width: 80%;
    object-fit: fill;
    outline: none;
    border: inset;
    border-color: #98F0D8;
    margin-left: auto;
    margin-right: auto;
  }

  & > h2 {
    text-align: center;
  }
}
