.Tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  &__tab {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 3px solid transparent;
    cursor: pointer;

    &--active {
      border-color: #98f0d8;

      .Tabs__tabLabel {
        font-weight: bold;
      }
    }
  }
}
