.CreatePost {
  border: 1px solid #666;
  border-radius: 15px;
  padding: 1rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  &__avatar {
    --width: 50px;
    border-radius: 15px;
    height: var(--width);
    width: var(--width);
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    text-align: left;
    margin: 0 2rem;
    flex: 1;
  }

  &__button {
    background-color: #98f0d8;
    border-radius: 15px;
    padding: 0.75rem 1rem;
  }
}
