.Button {
  background-color: #98f0d8;
  border-radius: 15px;
  padding: 0.75rem 1rem;
  font-weight: 500;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
  min-width: 150px;

  &--withMarginTop {
    margin-top: 2rem;
  }
}
