.ViewAll {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__tile {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: #f8f8f8;
    border-radius: 15px;
    width: 100%;
    padding: 2rem 5rem;
    margin: 2rem 0;
    box-shadow: 1px 1px 12px rgba(black, 0.1);

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 12px rgba(black, 0.2);
    }
  }

  &__tileCount {
    font-style: italic;
    opacity: 0.8;
  }
}
