.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__welcome {
    display: flex;
    align-items: center;
    &Text {
      font-weight: 400;
    }

    &Logo {
      height: 100%;
      width: 10vw;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1.2);
      }
    }
  }
}
