.Posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__emptySmiley {
    transform: rotate(90deg);
    font-size: 4rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }

  &__emptyMessage {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__post {
    background-color: #f8f8f8;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
  }

  &__postMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1;
    margin: 1rem 3rem;
    width: calc(100% - 6rem);
  }

  &__postLikes {
    text-align: center;
  }

  &__postLikeBtn {
    padding: 0.5rem;
    padding-bottom: 0;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
    transition-property: transform, background-color;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active > svg {
      transform: scale(0.75);
    }
  }
}

.Posts {
  &__user {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  &__userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      margin: 0 1rem;
    }
  }

  &__userAvatar {
    --length: 40px;
    height: var(--length);
    width: var(--length);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__userName {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;

    & > p {
      margin-right: 0.5rem;
      font-size: 1.2rem;
    }
  }

  &__userValue {
    background-color: #fff;
    border-radius: 25px;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > a {
      color: blue;
      text-decoration: none;
      font-weight: 500;
      margin: 0 1rem;
    }
  }

  &__userPostCategory {
    background-color: #fff;
    border-radius: 25px;
    padding: 0.75rem 1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }
}

.PostsRow {
  width: 100%;

  &__anchor {
    &:hover {
      font-weight: normal;
    }
  }

  &__actions {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 2.75rem;
      margin: 1rem;
      cursor: pointer;
    }
  }

  &__body {
    margin: 1rem;
    text-align: left;
    font-size: 1.1rem;
    overflow-wrap: break-word;
    width: 90%;
  }
}
