.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-width: 40%;
  border-radius: 15px;
  padding: 0 0.75rem;

  &__input {
    border: none;
    outline: none;
    height: 100%;
    width: 90%;
    margin: 1rem;
  }
}
