.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  background-color: #f8f8f8;
  padding: 1rem;
  position: sticky;
  cursor: pointer;
  top: 0;
  z-index: 9;

  &__action {
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      font-weight: 900;
    }
  }

  &__logoImg {
    max-width: 12vw;
  }

  &__logoImg {
    height: 100%;
    width: 100%;
  }
}
