a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  max-width: 100%;
  &:active {
    color: #98f0d8;
  }

  &:hover {
    font-weight: 600;
  }

  &:visited {
    color: #000;
  }
}

@media (max-width: 1450px) {
  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .Button > a {
    justify-content: center;
    color: #000;
  }

  .PostsRow__body {
    font-size: 0.95rem !important;
  }

  * {
    font-size: 0.95rem;
  }
}

.hashtag {
  color: blue;
}
