*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(#98f0d8, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(#98f0d8, 0.1);
  border-radius: 10px;
  background-color: rgba(#98f0d8, 0);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #98f0d8;
  box-shadow: inset 0 0 6px #98f0d8;
  -webkit-box-shadow: inset 0 0 6px #98f0d8;
}
