.Homepage {
  display: flex;
  width: 100vw;

  &__leftSidebar,
  &__rightSidebar {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__leftSidebar {
    opacity: 0.5;
  }

  &__middleArea {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 125vh;
    overflow: auto;
  }
}

// shame css

.card__tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    padding: 0.5rem;
  }
}

.card__tileAvatar {
  --length: 35px;
  height: var(--length);
  width: var(--length);
  border-radius: 5px;
}
